<div id="contact" class="section">
    <div class="container">
        <div class="class">
            <div class="row">
                <div class="col-md-9">
                    <div data-aos="zoom-in" class="card mb-0 aos-init aos-animate">
                        <div class="h4 text-center title">Contact Me</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <form name="form" class="ng-untouched ng-pristine ng-invalid">
                                        <div class="p pb-3">
                                            <strong>Feel free to contact me</strong>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user-circle">

                                                        </i>
                                                    </span> 
                                                    <input type="text" name="name" placeholder="Name" required class="form-control ng-untouched ng-pristine ng-invalid" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="input-group">
                                                    <span class="input-group">
                                                        <i class="fa fa-file-text"></i>
                                                    </span>
                                                    <input type="text" name="subject" placeholder="Subject" required class="form-control ng-untouched ng-pristine ng-invalid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope">

                                                        </i>
                                                    </span>
                                                    <input type="text" name="email" placeholder="E-mail" pattern="^([a-zA-z0-9_\-\.]+)@([a-zA-z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required class="form-control ng-untouched ng-pristine ng-invalid" fdprocessedid="w4bsq">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Your Message" required class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="bnt btn-primary" fdprocessedid="gqfub2">Send
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <strong>Phone Number</strong>
                                    </p>
                                    <p class="mb-0">
                                        <p class="pb-2">+27 67 380 0078</p>
                                    
                                    <p class="mb-0">
                                        <strong>E-mail</strong>
                                    </p>
                                    <p>grandgroenewaldt19gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
