<div id="about" class="section">
    <div class="container">
        <div data-aos="fade-up" data-aos-offset="10" class="card aos-init aos-animate">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h1 mt-0 title">ABOUT</div>
                        <ul class="text-left">
                            <li>Software developer for 1 year</li>
                            <li>Graduated in May 2024 as top achiever in Mathematics with 81% and Computer Science and Information Tech with 72%</li>
                            <li>No employment experience</li>
                            <li>Have a good understanding of HTML, CSS, Java Script, Python, MYSQL and VB.net</li>
                            <li>Complete some certification on Cisco Networking Academy</li>
                            <li>Have a good Understanding of Cybersecurity and Networking</li>
                            <li>In the process of completing the certification of Linux the operating system</li>
                        </ul>
                        <p>I am a lover of innovation and everything related to generate new knowledge.I face problems with a smile and solve them as soon as possible. On my free time i love to do math problems and i like to watch anime and cartoons.I like to learn about operating systems and networking. I have acquired a few badges from the cisco academy online site and I am about to finish the last one in linux operating systems.</p>
                    </div>
                </div>
                 <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h2 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">June 02, 2001</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Phone:</strong>
                            </div>
                            <div class="col-sm-8">+27 67 380 0078</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">3723 kutlwano street, Palm Ridge Ext 3, 1458</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">English,Tswana,Sotho,Zulu</div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </div>

</div>

