<footer>
    <div class="d-flex pt-1 m-n1">
        <a class="btn btn-lg-square btn-dark text-primary m-1" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-lg-square btn-dark text-primary m-1" href=""><i class="fab fa-Facebook"></i></a>
        <a class="btn btn-lg-square btn-dark text-primary m-1" href=""><i class="fab fa-Instagram"></i></a>
        <a class="btn btn-lg-square btn-dark text-primary m-1" href=""><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Groenewaldt profile</a>, All Rights Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Designed By <a class="border-bottom" >Bongani Groenewaldt</a>
            </div>
            </div>
        </div>
    </div>
</footer>