<div id="education" class="section">
    <div class="container cc-education">
        <div class="h1 text-center mb-4 title">EDUCATION</div>
        <div class="card">
            <div class="row">
                <div data-aos="fade-right" data-aos-offset="50" data-aos-duration="500" class="col-md-3 bg-primary aos-init aos-animate">
                    <div class="card-body cc-education-header">
                        <p>2015 - 2019</p>
                        <div class="h4">High School</div>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="50" data-aos-duration="500" class="col-md-9 aos-init aos-animate">
                    <div class="card-body">
                        <div class="h4">High School</div>
                        <h5 class="category">Thoko Thaba High School</h5>
                        <ul>
                            <li>The High school aims at Maths , English , Science, Biology and Languages.</li>
                            <li>I matriculated with the minimum requirements for admission to bachelor's degree</li>
                        </ul>
                    </div>
                </div>
                <div data-aos="fade-right" data-aos-offset="50" data-aos-duration="500" class="col-md-3 bg-primary aos-init aos-animate">
                    <div class="card-body cc-education-header">
                        <p>2021 - 2023</p>
                        <div class="h4">Higher Education</div>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="50" data-aos-duration="500" class="col-md-9 aos-init aos-animate">
                    <div class="card-body">
                        <div class="h4">College</div>
                        <h5 class="category">Ekurhuleni West TVET College</h5>
                        <ul>
                            <li>The college aims at teaching Both hands on activities and theory</li>
                            <li>I graduated with a 72% pass and as the top achiever in Information Tech and Computer Science</li>
                            <li>I was Awarded a cup for scoring 82% in Mathematics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

